html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#toplogo {
	height: 300px;
}

.logo {
	position: absolute;
	width: 100px;
	height: 100px;
}

#container {
	display: block;
	margin: 40vh 0;
	padding: 50px;

	outline: 1px dashed orange;
}

#block {
	padding: 10px;

	border: 1px solid black;

	font-family: Helvetica;
}