html, body {
	height: 100%;
	width: 80%;
	margin: 20;
	padding: 20;
}

.container {
	padding: 20px;
}

#toplogo {
	height: 300px;
}

.logo {
	position: absolute;
	width: 100px;
	height: 100px;
}

#down-arrow {
	text-align: center;
	font-size: 5em;
	width: 100%;
}

#container {
	display: block;
	margin: 40vh 0;
	padding: 40px;

	outline: 1px dashed orange;
}

#block {
	padding: 10px;

	border: 1px solid black;

	font-family: Helvetica;
}