
header {
  .headimg {
    @include backImage('../images/main/hinton_homescreen_wallpaper_1.png');

    .abt-group {
    	padding: 100px 0;

    	h1 {
    		color: $color-headline;
    		font-size: 3em;
    		font-weight: $heavy;
    		text-align: center;
    		text-shadow: -4px 4px 3px #999, 1px -1px 2px #000;

    	} // h1

    	h2 {

    		display: block;
    		color: $light;
    		width: 60%;
    		max-width: 500px;
    		margin: 0 auto;
    		text-align: center;
    		border: 1px solid $light;
    		margin-top: 15px;
    		padding: 10px;
    		background: rgba($dark, 0.5);  //sass feature
    		font-size: 1.3em;
    	} //h2
    } //abt-group
  } //fullheight
} //header 

#about {

	@include linear-gradient(to top, darken($main-bg-color, 20), lighten($orange, 20));
	
}

/*** Post-it Gallery   ***/
article #postit {
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	border: 2px solid darken($color-1, 10);
	@include border-radius(20px);

// 	@include background-image(url("/images/a.png"), url("images/b.png"));
// background-position: center top, center;
// background-repeat: no-repeat, repeat-x;

	@include background-image(url("/images/main/1mung_bean_hires_closeup.png"));
	background-size: 270px;
	background-repeat: no-repeat, repeat-x;
	background-position: 105%; //right center, right;
	padding-right: 175px;

	background-color: rgba(darken($color-1, 20), 0.3); //darken + opacity .5 
	
	img {
		padding: 10px;
		width: 150px;
	} // img

	
	
} //article

#grp-photo {
	//display: inline-block;
    @include backImage('../images/main/digital_blab_orientation_grp_poster_1280px.jpg');

    .content blockquote {
    	width: 200px;
    	@include border-radius(10px);
    	background: rgba($light, .8);
    	padding: 15px;
    }
} 


