/* my mixins */


/* Code snippet css-tricks.com/perfect-full-page-background-image */
@mixin backImage($image) {
  background: url($image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} //backImage


// @mixin backgdGradient {
//     background: linear-gradient(
//     $grDir,
//     rgba(0,0,0, $opStart),
//     rgba(0,0,0, $opEnd)
//     );
// }

/* sass-lang.com/guide */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-top($radius-left, $radius-right) {
  -webkit-border-top-left-radius: $radius-left;
  -webkit-border-top-right-radius: $radius-right;
     -moz-border-top-left-radius: $radius-left;
     -moz-border-top-right-radius: $radius-right;
	 -ms-border-top-left-radius: $radius-left;
     -ms-border-top-right-radius: $radius-right;
          border-top-left-radius: $radius-left;
          border-top-right-radius: $radius-right;
}

