
body {
	//font-family: geneva;
	background-color: $main-bg-color;
	font-size: 100%;
	color: black;
}

header {
	margin-bottom: 1em;
	h1 {
		padding: 0.8em 0 0 0;
		margin: 0;
		font-family: $font-maintitle;
	}
	h2 {
		font-family: $font-maintitle;
		font-style: italic;
		font-size: 1em;
		padding: 0 0 0 1em;
	}
	p {
		margin-right: 24px;
	}
	
}

#bigideas {

	font-family: asap, sans-serif;

	section h1,h2 {
		
		font-weight: bold;
	}

 }


#bigidea1 {
	background-color: $color-1;
	border: solid 1px $main-bg-color;
	//width: $bigidea-width-height;
	//height: $bigidea-width-height;

	h1 {
		padding-top: 5px;
		font-size: 2.0em;
		margin-right: 1px;
	}
	
}

#bigidea2 {
	background-color: $color-2;
	border: solid 1px $main-bg-color;
	//width: $bigidea-width-height;
	//height: $bigidea-width-height;
	h1 {
		padding-top: 5px;
		font-size: 2.0em;
		margin-left: 10px;
	}
	
}

#bigidea3 {
	background-color: $color-3;
	border: solid 1px $main-bg-color;
	//width: $bigidea-width-height;
	//height: $bigidea-width-height;
	
	h1 {
		padding-top: 5px;
		font-size: 2.0em;
		margin-right: 10px;
	}
}

#bigidea4 {
	background-color: $color-4;
	border: solid 1px $main-bg-color;
	//width: $bigidea-width-height;
	//height: $bigidea-width-height;

	h1 {
		padding-top: 5px;
		font-size: 2.0em;
		margin-left: 10px;
	}
}

/* Standards Viewer */

.row h1{
	font-size: 1.3em;

}

article p {
	font-size: 0.8em;
}

.udsheader-1 {
	background-color: $color-1;
}

.udsheader-2 {
	background-color: $color-2;
}

.udsheader-3 {
	background-color: $color-3;
}

.udsheader-4 {
	background-color: $color-4;
}

.row-2 {
	//float: left;
	@include border-radius(10px); 
	border: 2px solid brown;
}

.row-2 > ul > li {               //selects only Enduring Understandings
	@include border-radius-top(10px, 10px); 
	padding: 0.5em;
	margin: 0;
	font-size: 1.2em;
	font-weight: 700;
	font-family: asap, sans-serif;
}

.row-2 ul {
	list-style: none;
	padding-left: 0px;      // removes indented margin from list
	margin-left: 0;
	* li {     						//Essential Knowledge statements
		padding: 0.5em;
		background-color: #c7b299;
	}
}


/* Circle shapes - Enduring Understandings */

.circle {
	display: inline-block;
	height: 30px;
	width: 30px;
	padding: 0px;
	margin: 0 5px 0 5px;
	background-color: #fff;
	@include border-radius(15px);
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
}

.tile {
	display: inline-block;
	height: 30px;
	width: 25px;
	padding: 0px;
	margin: 0 5px 0 5px;
	background-color: #fff;
	@include border-radius(10px);
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	//float: left;
}

.floatleft {
	float: left;
	padding-right: 10px;
	padding-bottom: 4px;
}

.floatright {
	float: right;
	padding-left: 4px;
	padding-bottom: 4px;
}

.headline {
	font-family: $font-headline;
	font-weight: $bold;
	font-size: 1.5em;
	color: maroon;
	padding-top: 0;
}

footer {

	margin-left: 12px;
	p {
		font-size: 0.8em;
	}
}

/* About Page */

.gap-right {
	padding-right: 15px;
}

.gap-left {
	padding-left: 10px;
}

