
body {
	//font-family: geneva;
	background-color: $main-bg-color;
	font-size: 100%;
	color: black;
}

header {
	margin-bottom: 1em;
	h1 {
		padding: 0.8em 0 0 0;
		margin: 0;
		font-family: $font-maintitle;
	}
	h2 {
		font-family: $font-maintitle;
		font-style: italic;
		font-size: 1em;
		padding: 0 0 0 1em;
	}
	p {
		margin-right: 24px;
	}
	
}

#bigideas {

	font-family: asap, sans-serif;

	section h1,h2 {
		
		font-weight: bold;
	}

 }


#bigidea1 {
	background-color: $color-1;
	border: solid 1px $main-bg-color;
	//width: $bigidea-width-height;
	//height: $bigidea-width-height;

	h1 {
		padding-top: 5px;
		font-size: 2.0em;
		margin-right: 1px;
	}
	
}

#bigidea2 {
	background-color: $color-2;
	border: solid 1px $main-bg-color;
	//width: $bigidea-width-height;
	//height: $bigidea-width-height;
	h1 {
		padding-top: 5px;
		font-size: 2.0em;
		margin-left: 10px;
	}
	
}

#bigidea3 {
	background-color: $color-3;
	border: solid 1px $main-bg-color;
	//width: $bigidea-width-height;
	//height: $bigidea-width-height;
	
	h1 {
		padding-top: 5px;
		font-size: 2.0em;
		margin-right: 10px;
	}
}

#bigidea4 {
	background-color: $color-4;
	border: solid 1px $main-bg-color;
	//width: $bigidea-width-height;
	//height: $bigidea-width-height;

	h1 {
		padding-top: 5px;
		font-size: 2.0em;
		margin-left: 10px;
	}
}


/* Standards Viewer */

#intro article {
	
	p {
		font-size: 0.8em;
	}
}

#bigidea1-standards h1 {
	font-size: 1.5em;
	font-weight: $bold;
	background-color: $color-1;
	padding: 10px;
}

#bigidea2-standards h1 {
	font-size: 1.5em;
	font-weight: $bold;
	background-color: $color-2;
	padding: 10px;
}

#bigidea3-standards h1 {
	font-size: 1.5em;
	font-weight: $bold;
	background-color: $color-3;
	padding: 10px;
}

#bigidea4-standards h1 {
	font-size: 1.5em;
	font-weight: $bold;
	background-color: $color-4;
	padding: 10px;
}

// #bigidea1-standards {
// 	.container {
// 		display: none;
// 	}
// }

/* Circle shapes - Enduring Understandings */

.circle {
	display: inline-block;
	height: 30px;
	width: 30px;
	padding: 0px;
	margin: 0 5px 0 5px;
	background-color: #fff;
	@include border-radius(15px);
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
}

.tile {
	display: inline-block;
	height: 30px;
	width: 25px;
	padding: 0px;
	margin: 0 5px 0 5px;
	background-color: #fff;
	@include border-radius(10px);
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	//float: left;
}

.floatleft {
	float: left;
	padding-right: 10px;
	padding-bottom: 4px;
}

.floatright {
	float: right;
	padding-left: 4px;
	padding-bottom: 4px;
}

.headline {
	font-family: $font-headline;
	font-weight: $bold;
	font-size: 1.5em;
	color: maroon;
	padding-top: 0;
}


