/* Welcome Big Ideas variables */

$font-maintitle: Electrolize, Geneva, sans-serif;
$font-headline:  asap, sans-serif;

$main-bg-color: lighten(#c69c6d, 35);
$light: white;
$dark: black;

$orange: #ff9900;


$color-1: green;
$color-2: lighten(blue, 20);
$color-3: lighten(purple, 50);
$color-4: lighten(red, 20);

$color-headline: white;

$bold 	:600;
$heavy  :800;

$bigidea-width-height: 200px;