/* Welcome Big Ideas variables */

$font-primary: Electrolize, Geneva, sans-serif;

$color-1: green;
$color-2: lighten(blue, 20);
$color-3: lighten(purple, 50);
$color-4: lighten(red, 20);

$bigidea-width-height: 18.1875em;